@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root{
	--primary-color: #333;
	--green: #2b6030;
	--yellow: #F1C40F;
	--darkblue: rgb(36, 41, 46);

}

body{
	background:url("../abacus-website/logos/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.font-formatted-light{
	font-family: 'Roboto', sans-serif;
}

.font-formatted-regular{
	font-family: 'Roboto', sans-serif;
}

.divider-grey {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 50px;
    border-top: 2px solid var(--yellow);
    padding-bottom: 40px;
}


.flex-container{
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;

}

.navigation-bar{
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--darkblue);
	height: 130px;
	border-radius: 10px;
 	box-shadow: 0px 10px 5px grey;
 	position: -webkit-sticky;
	position: sticky;
 	/* box-shadow: 0px 10px 0px #dedede; */
}


.navigation-bar ul{
	list-style-type: none;
	display: flex;
}

.navigation-bar a{
	text-decoration: none;
	color: var(--green);
}

.logo-and-name{
	float: left;
	width: 50%;
}

.nav-items{
	float: right;
	 margin: 0 auto;
 	padding: 50px 0;
}

.nav-items a{
	text-decoration: none;
	color: #aaa;
	text-transform: uppercase;
	font-weight: 800;
	display: block;
	padding: 15px;
	margin: 0 10px;
	border-style: solid;
	border-width: 2px;
	border-top: none; border-right: none; border-left: none;
	border-color: var(--yellow);
}

.nav-items a,
.nav-items a:after,
.nav-items a:before {
  transition: all .5s;
}

.nav-items a:hover {
  color: #555;
  border-bottom: none;
}

.nav-items a {
  position:relative;
  z-index: 1;
}
.nav-items a:hover {
  color: #91640F;
}
.nav-items a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: white;
  /* background: var(--green); */
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
}
.nav-items a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



